<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.min.edu.ctrl.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/loginServlet.do</url-pattern>
	</servlet-mapping>
	<!-- 제품 -->
	<servlet>
		<servlet-name>productAllInfoServlet</servlet-name>
		<servlet-class>com.min.edu.ctrl.productAllInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productAllInfoServlet</servlet-name>
		<url-pattern>/productAllInfo.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>productInfo</servlet-name>
		<servlet-class>com.min.edu.ctrl.productInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productInfo</servlet-name>
		<url-pattern>/productInfo.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>productMaker</servlet-name>
		<servlet-class>com.min.edu.ctrl.productMakerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productMaker</servlet-name>
		<url-pattern>/productMaker.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>productName</servlet-name>
		<servlet-class>com.min.edu.ctrl.productNameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productName</servlet-name>
		<url-pattern>/productName.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>productInsertServlet</servlet-name>
		<servlet-class>com.min.edu.ctrl.productInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productInsertServlet</servlet-name>
		<url-pattern>/productInsertServlet.do</url-pattern>
	</servlet-mapping>
	<!-- 재고조회 -->
	<servlet>
		<servlet-name>stockInAllInfo</servlet-name>
		<servlet-class>com.min.edu.ctrl.stockInAllInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockInAllInfo</servlet-name>
		<url-pattern>/stockInAllInfo.do</url-pattern>
	</servlet-mapping>
	
	<!-- 입고 -->
	<servlet>
		<servlet-name>stockAllInfo</servlet-name>
		<servlet-class>com.min.edu.ctrl.stockAllInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockAllInfo</servlet-name>
		<url-pattern>/stockAllInfo.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>stockInInfo</servlet-name>
		<servlet-class>com.min.edu.ctrl.stockInInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockInInfo</servlet-name>
		<url-pattern>/stockInInfo.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>stockInServlet</servlet-name>
		<servlet-class>com.min.edu.ctrl.stockInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockInServlet</servlet-name>
		<url-pattern>/stockInServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>stockInMgr</servlet-name>
		<servlet-class>com.min.edu.ctrl.stockInMgr</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockInMgr</servlet-name>
		<url-pattern>/stockInMgr.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>stockInUpdate</servlet-name>
		<servlet-class>com.min.edu.ctrl.stockInUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockInUpdate</servlet-name>
		<url-pattern>/stockInUpdate.do</url-pattern>
	</servlet-mapping>
	<!-- 출고 -->
	<servlet>
		<servlet-name>stockOutAllInfo</servlet-name>
		<servlet-class>com.min.edu.ctrl.stockOutAllInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockOutAllInfo</servlet-name>
		<url-pattern>/stockOutAllInfo.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>stockOutInfo</servlet-name>
		<servlet-class>com.min.edu.ctrl.stockOutInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockOutInfo</servlet-name>
		<url-pattern>/stockOutInfo.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>stockOutServlet</servlet-name>
		<servlet-class>com.min.edu.ctrl.stockOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockOutServlet</servlet-name>
		<url-pattern>/stockOutServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>stockOutUpdate</servlet-name>
		<servlet-class>com.min.edu.ctrl.stockOutUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockOutUpdate</servlet-name>
		<url-pattern>/stockOutUpdate.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>stockAmount</servlet-name>
		<servlet-class>com.min.edu.ctrl.stockAmountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockAmount</servlet-name>
		<url-pattern>/stockAmount.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>stockSales</servlet-name>
		<servlet-class>com.min.edu.ctrl.stockSalesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockSales</servlet-name>
		<url-pattern>/stockSales.do</url-pattern>
	</servlet-mapping>
	<!-- 관리자 -->
	<servlet>
		<servlet-name>ManagerProduct</servlet-name>
		<servlet-class>com.min.edu.ctrl.ManagerProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerProduct</servlet-name>
		<url-pattern>/ManagerProduct.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManagerStockIn</servlet-name>
		<servlet-class>com.min.edu.ctrl.ManagerStockInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerStockIn</servlet-name>
		<url-pattern>/ManagerStockIn.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManagerStockOut</servlet-name>
		<servlet-class>com.min.edu.ctrl.ManagerStockOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerStockOut</servlet-name>
		<url-pattern>/ManagerStockOut.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManagerAccept</servlet-name>
		<servlet-class>com.min.edu.ctrl.ManagerAcceptServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerAccept</servlet-name>
		<url-pattern>/ManagerAccept.do</url-pattern>
	</servlet-mapping>
	<!-- Filter (로그인 없이 접근 가능한 페이지) -->
	<filter>
		<filter-name>accessFilter</filter-name>
		<filter-class>com.min.edu.filter.AccessFilter</filter-class>
		<init-param>
			<param-name>excludeURL</param-name>
			<param-value>/,/loginServlet.do</param-value>			
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>accessFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>