<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<display-name>web015_memberInfo</display-name>
	<welcome-file-list>
		<welcome-file>/WEB-INF/views/index.jsp</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 로그인 & 로그아웃 -->
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.min.edu.ctrl.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/loginServlet.do</url-pattern>
	</servlet-mapping>
	
	<!-- 회원상세 -->
	<servlet>
		<servlet-name>userInfo</servlet-name>
		<servlet-class>com.min.edu.ctrl.UserInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userInfo</servlet-name>
		<url-pattern>/userInfo.do</url-pattern>
	</servlet-mapping>
	
	<!-- 회원정보 수정폼 / 수정입력 -->
	<servlet>
		<servlet-name>userModify</servlet-name>
		<servlet-class>com.min.edu.ctrl.UserModifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userModify</servlet-name>
		<url-pattern>/userModifyServlet.do</url-pattern>
	</servlet-mapping>
	
	<!-- 회원탈퇴 -->
	<servlet>
		<servlet-name>delUser</servlet-name>
		<servlet-class>com.min.edu.ctrl.DelUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delUser</servlet-name>
		<url-pattern>/delUserServlet.do</url-pattern>
	</servlet-mapping>
	
	<!-- 회원가입 -->
	<servlet>
		<servlet-name>regist</servlet-name>
		<servlet-class>com.min.edu.ctrl.RegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>regist</servlet-name>
		<url-pattern>/registServlet.do</url-pattern>
	</servlet-mapping>
	
	<!-- 아이디중복검사 -->
	<servlet>
		<servlet-name>duplicateId</servlet-name>
		<servlet-class>com.min.edu.ctrl.DuplicateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>duplicateId</servlet-name>
		<url-pattern>/duplicateId.do</url-pattern>
	</servlet-mapping>
	
	<!-- 회원상태조회 -->
	<servlet>
		<servlet-name>userListState</servlet-name>
		<servlet-class>com.min.edu.ctrl.UserListStateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userListState</servlet-name>
		<url-pattern>/userListState.do</url-pattern>
	</servlet-mapping>
	
	<!-- 사용회원조회 -->
	<servlet>
		<servlet-name>userList</servlet-name>
		<servlet-class>com.min.edu.ctrl.UserListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userList</servlet-name>
		<url-pattern>/userListServlet.do</url-pattern>
	</servlet-mapping>
	
	<!-- 권한수정 -->
	<servlet>
		<servlet-name>authUpdate</servlet-name>
		<servlet-class>com.min.edu.ctrl.AuthUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>authUpdate</servlet-name>
		<url-pattern>/authUpdate.do</url-pattern>
	</servlet-mapping>
	
	<!-- 필터 클래스 로그인없이 호출할 수 있는 페이지 -->
	<filter>
		<filter-name>accessFilter</filter-name>
		<filter-class>com.min.edu.filter.AccessFilter</filter-class>
		<init-param>
			<param-name>excludeURL</param-name>
			<param-value>/loginServlet.do,/registServlet.do,/duplicateId.do,/js/login.js</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>accessFilter</filter-name>
		<url-pattern>/*</url-pattern> <!-- /로 시작하는 모든 것들 -->
	</filter-mapping>
	
	<!-- 잘못된 페이지 요청 Error 페이지 -->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/err/error.html</location>
	</error-page>
	
		
	
	
	

</web-app>